<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title><%= data.name %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="../images/newlogo_transparent.png" type="image" sizes="16x16">
  <script src="../js/scripts.js"></script>

</head>

  <body>

    <header>REVEAL</header>

    <!-- <%- include ('global/header', {title: data.name}); %> -->
    <%- include('global/navbar'); %>

    <div class="margin" id="main-content">
      <div class="container" id="company-page-content">
        <div>
          <div id="companyPageOverview">
            <div>
              <div>
                <h1 class="uppercase"> <%=data.name%> </h1>
                <h3> Industry: <%=data.info.Industry%> </h3>

                <% if(data.info.Parent_Company == ""){%>
                  <h3> Parent Company: None </h3>
                <%} else {%>
                <h3> Parent Company: <%=data.info.Parent_Company%> </h3>
                <%}%>
              </div>
              <div>

                <!-- <span class="badge bg-secondary"><script>document.write(calculatePreferenceMatchScore())</script>%</span> -->

                <badge>
                  <script>document.write(calculatePreferenceMatchScore())</script>%
                </badge>

                <span class="badge-heading">MATCH</span><br><br>

                See how much this company's actions align with what they say
              </div>
            </div>
          </div>

          <p>Company Bio</p>

          Blah blah, blah, we are a company. <br><br>

          <h5>Metric Breakdown</h5>




          <div class="ratingNumber">

          <div class="container">
          <div class="row">
            <div class="col">
              <a class="badge_heading" data-bs-toggle="collapse" href="#transparency_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Transparency
              </a><br>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>%
              </badge>

            </div>
            <div class="col">
              <a class="badge_heading" data-bs-toggle="collapse" href="#environment_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Environmental
              </a> <br>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>%
              </badge>

            </div>
            <div class="col">
              <a class="badge_heading" data-bs-toggle="collapse" href="#labor_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Labor
              </a> <br>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>%
              </badge>

            </div>
          </div>

          <div class="row">
              <div class="collapse" id="transparency_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<traData.length;i++) { %>
                    <li><%=traData[i].info.scoreName%>: <%=traData[i].info.points%>/<%=traData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>

              <div class="collapse" id="environment_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<envData.length;i++) { %>
                    <li><%=envData[i].info.scoreName%>: <%=envData[i].info.points%>/<%=envData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>


              <div class="collapse" id="labor_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<rigData.length;i++) { %>
                    <li><%=rigData[i].info.scoreName%>: <%=rigData[i].info.points%>/<%=rigData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h5>Other Resources</h5><br>
          <ul class="inlineList noBullets">
            <li>
              Suggested Alternatives
              <p>Here are some companies that might align better with your values than
                <%=data.name%>:</p>
            </li>
            <li>
              Raise a Union Red Flag
              <p>If you believe that workers in this organization have been
                having difficulty unionizing, click here to raise a red flag.</p>
            </li>
            <li>
              Generate a Tweet
              <p></p>
            </li>
          </ul>
        </div>





          <!-- <ul class="greenBullets">
            <% if(data.info.B_Corp_Certification == 1){%>
              <li>Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 1){%>
              <li>Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 1){%>
              <li>UN Global Compact Member</li>
            <%}%>
          </ul>

          <ul class="redBullets">
            <% if(data.info.B_Corp_Certification == 0){%>
              <li>Not a Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 0){%>
              <li>Not a Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 0){%>
              <li>Not a UN Global Compact Member</li>
            <%}%>
          </ul> -->


        </div>
      </div>

    </div>

    <footer>
      <p> &copy; 2021 Reveal<br>
        All rights reserved</p>
    </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
