<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title><%= data.name %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="../images/newlogo_transparent.png" type="image" sizes="16x16">
  <script src="../js/scripts.js"></script>

</head>

  <body>

    <header>REVEAL</header>

    <!-- <%- include ('global/header', {title: data.name}); %> -->
    <%- include('global/navbar'); %>

    <div class="margin" id="main-content">
      <div class="container" id="company-page-content">
        <div>
          <div id="companyPageOverview">
            <div>
              <div>
                <h1 class="uppercase"> <%=data.name%> </h1>
                <h3> Industry: <%=data.info.Industry%> </h3>

                <% if(data.info.Parent_Company == ""){%>
                  <h3> Parent Company: None </h3>
                <%} else {%>
                <h3> Parent Company: <%=data.info.Parent_Company%> </h3>
                <%}%>
              </div>
              <div>
                <badge>
                  <script>document.write(calculatePreferenceMatchScore())</script>%
                </badge>
                <span class="badge-heading">MATCH</span>
              </div>
            </div>
          </div>

          <p>Company Bio</p>

          <h5>Click each subscore to see more details</h5>


          <div class="ratingNumber">

          <div class="container">
          <div class="row">
            <div class="col">
              Transparency
            </div>
            <div class="col">
              Environmental
            </div>
            <div class="col">
              Labor
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#transparency_collapse" aria-expanded="false" aria-controls="collapseExample">
                Show more
              </button>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>
              </badge>


              <div class="collapse" id="transparency_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <li>Transparency score (incorrect) - <%=data.info.Sustainalytics_overall%> </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col">

              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#environment_collapse" aria-expanded="false" aria-controls="collapseExample">
                Show more
              </button>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>
              </badge>

              <div class="collapse" id="environment_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <li>Overall Sustainalytics Score - <%=data.info.Sustainalytics_overall%> </li>
                    <li>Industry Sustainalytics Score - <%=data.info.Sustainalytics_industry%> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#labor_collapse" aria-expanded="false" aria-controls="collapseExample">
                Show more
              </button>
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>
              </badge>

              <div class="collapse" id="labor_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <li>LGBTQ Representation - <%=data.info.LGBTQ%> </li>
                    <li>Pay Ratio - <%=data.info.Pay_Ratio%> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



            <!-- Transparency <br>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#transparency_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
              <badge>
                <script>document.write(calculatePreferenceMatchScore())</script>
              </badge>
            </a>


            <div class="collapse" id="transparency_collapse">
              <div class="card card-body">
                <ul class="inlineList noBullets">
                  <li>Transparency score (incorrect) - <%=data.info.Sustainalytics_overall%> </li>
                </ul>
              </div>
            </div>

            Environmental
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#environment_collapse" aria-expanded="false" aria-controls="collapseExample">
              Show more
            </button>
            <badge>
              <script>document.write(calculatePreferenceMatchScore())</script>
            </badge>

            <div class="collapse" id="environment_collapse">
              <div class="card card-body">
                <ul class="inlineList noBullets">
                  <li>Overall Sustainalytics Score - <%=data.info.Sustainalytics_overall%> </li>
                  <li>Industry Sustainalytics Score - <%=data.info.Sustainalytics_industry%> </li>
                </ul>
              </div>
            </div>

            Labor
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#labor_collapse" aria-expanded="false" aria-controls="collapseExample">
              Show more
            </button>
            <badge>
              <script>document.write(calculatePreferenceMatchScore())</script>
            </badge>

            <div class="collapse" id="labor_collapse">
              <div class="card card-body">
                <ul class="inlineList noBullets">
                  <li>LGBTQ Representation - <%=data.info.LGBTQ%> </li>
                  <li>Pay Ratio - <%=data.info.Pay_Ratio%> </li>
                </ul>
              </div>
            </div>
          </div> -->







          <ul class="greenBullets">
            <% if(data.info.B_Corp_Certification == 1){%>
              <li>Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 1){%>
              <li>Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 1){%>
              <li>UN Global Compact Member</li>
            <%}%>
          </ul>

          <ul class="redBullets">
            <% if(data.info.B_Corp_Certification == 0){%>
              <li>Not a Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 0){%>
              <li>Not a Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 0){%>
              <li>Not a UN Global Compact Member</li>
            <%}%>
          </ul>


        </div>
      </div>

    </div>

    <footer>
      <p> &copy; 2021 Reveal<br>
        All rights reserved</p>
    </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
