<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title><%=data.name%></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="../images/newlogo_transparent.png" type="image" sizes="16x16">
  <script src="../js/scripts.js"></script>

</head>

  <body>

    <header>REVEAL</header>

    <!-- <%- include ('global/header', {title: data.name}); %> -->
    <%- include('global/navbar'); %>

    <div class="margin" id="main-content">
      <div class="container" id="company-page-content">
        <div>
          <div id="companyPageOverview">
            <div>
              <div>

                <h1 class="uppercase"> <%=data.name%> </h1>
                <h3> Industry: <%=data.info.Industry%> </h3>

                <% if(data.info.Parent_Company == ""){%>
                  <h3> Parent Company: None </h3>
                <%} else {%>
                <h3> Parent Company: <%=data.info.Parent_Company%> </h3>
                <%}%>

                <br>
                <p>Company Bio</p>


                <div class="company-description">
                  Malt-O-Meal is an American producer of breakfast cereals, headquartered in Northfield, Minnesota.
                  It markets its products in at least 70% of the country's grocery stores. MOM Brands produces both
                  hot and cold cereals. As of 2012, cold cereals manufactured by MOM Brands accounted for over 75% of its total sales.


                </div>

              </div>


              <img id="match_percent_display" src="../images/placeholder.png"/>
              <script>displayMatchScore();</script>

               <!-- <span class="badge-heading"><span class="badge"><script>document.write(calculatePreferenceMatchScore())</script>%</span>&nbsp;MATCH</span><br><br> -->

            </div>
          </div>

          <div class="container">
            <div class="row">


              <div class="col">

                <br>

              </div>
            </div>
              <div class="row">
              <h5>Metric Breakdown</h5>
          </div>
        </div>


          <div class="ratingNumber">

          <div class="container">
          <div class="row">
            <div class="col">
              Transparency
              <a class="subscore-badge-heading" data-bs-toggle="collapse" href="#transparency_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="../images/newlogo_transparent.png" width="22px" alt="Reveal Logo">
              </a><br>

              <span class="badge-heading">
                <span class="badge">
                  <% let tra_pts = 0; %>
                  <% let tra_total = 0; %>
                  <% for(let i=0;i<traData.length;i++) { %>
                    <% tra_pts += traData[i].info.points; %>
                    <% tra_total += traData[i].info.out_of; %>
                  <% } %>
                  <% let tra_score = Math.floor(tra_pts/tra_total*100); %>
                  <%=tra_score%>%
                </span>
              </span>


            </div>
            <div class="col">
              Environmental
              <a class="subscore-badge-heading" data-bs-toggle="collapse" href="#transparency_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="../images/newlogo_transparent.png" width="22px" alt="Reveal Logo">
              </a><br>

              <span class="badge-heading">
                <span class="badge">
                <% let env_pts = 0; %>
                <% let env_total = 0; %>
                <% for(let i=0;i<envData.length;i++) { %>
                  <% env_pts += envData[i].info.points; %>
                  <% env_total += envData[i].info.out_of; %>
                <% } %>
                <% let env_score = Math.floor(env_pts/env_total*100); %>
                <%=env_score%>%
              </span>
            </span>
            </div>
            <div class="col">
                Human Rights
              <a class="subscore-badge-heading" data-bs-toggle="collapse" href="#transparency_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="../images/newlogo_transparent.png" width="22px" alt="Reveal Logo">
              </a><br>
              <span class="badge-heading">
                <span class="badge">
                <% let rig_pts = 0; %>
                <% let rig_total = 0; %>
                <% for(let i=0;i<rigData.length;i++) { %>
                  <% rig_pts += rigData[i].info.points; %>
                  <% rig_total += rigData[i].info.out_of; %>
                <% } %>
                <% let rig_score = Math.floor(rig_pts/rig_total*100); %>
                <%=rig_score%>%
              </span>
            </span>
            </div>
          </div>

          <div class="row">
              <div class="collapse" id="transparency_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<traData.length;i++) { %>
                    <li><%=traData[i].info.scoreName%>: <%=traData[i].info.points%>/<%=traData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>

              <div class="collapse" id="environment_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<envData.length;i++) { %>
                    <li><%=envData[i].info.scoreName%>: <%=envData[i].info.points%>/<%=envData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>


              <div class="collapse" id="rights_collapse">
                <div class="card card-body">
                  <ul class="inlineList noBullets">
                    <% for(let i=0;i<rigData.length;i++) { %>
                    <li><%=rigData[i].info.scoreName%>: <%=rigData[i].info.points%>/<%=rigData[i].info.out_of%> </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h5>Other Resources</h5>
          <ul class="inlineList noBullets">
            <li>
              Suggested Alternatives
              <p>Here are some companies that might align better with your values than
                <%=data.name%>:</p>
            </li>
            <li>
              Raise a Union Red Flag
              <p>If you believe that workers in this organization have been
                having difficulty unionizing, click here to raise a red flag.</p>
            </li>
            <li>
              Generate a Tweet
              <br>
              <a target="blank_" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Information%20on%20<%= data.name[0].toUpperCase() + data.name.substring(1) %>%20at%20@Reveal!" class="twitter-share-button" data-size="large" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p></p>
            </li>
          </ul>
        </div>



          <!-- <ul class="greenBullets">
            <% if(data.info.B_Corp_Certification == 1){%>
              <li>Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 1){%>
              <li>Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 1){%>
              <li>UN Global Compact Member</li>
            <%}%>
          </ul>

          <ul class="redBullets">
            <% if(data.info.B_Corp_Certification == 0){%>
              <li>Not a Certified B-Corporation</li>
            <%}%>

            <% if(data.info.Climate_Neutral == 0){%>
              <li>Not a Certified Climate Neutral</li>
            <%}%>

            <% if(data.info.UN_Global_Compact == 0){%>
              <li>Not a UN Global Compact Member</li>
            <%}%>
          </ul> -->


        </div>
      </div>

    </div>

    <%- include ('global/footer'); %>


    <!-- <footer>
      <p> &copy; 2021 Reveal<br>
        All rights reserved</p>
      </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html> -->
